<div class="overflow-wrap">
        <section id="home" class="flex height-fix">
            <div id="pt" class="canvas"><canvas id="canvas" width="807" height="716" style="width: 807px; height: 716px;"></canvas></div>
            <div class="flex" >
          <div class="text">
            Hello, I'm <span class="highlight">Matthew Williams</span>.
            <br>
            I'm a full-stack web developer.
          </div>
          <div class="button page-link" dest="about">
            View my work <i class="mdi mdi-arrow-right"></i>
          </div>
        </div>
      </section>
    </div>